@charset "UTF-8";

.mainsearch_button{
	border-radius: 16px;
	background: #F7CA18;
	width: 35%;
  display: block;
  color: #8C8C8C;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding: 5px 20px;
}

.mainsearch_button{
	color: #000000;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.mainsearch_button:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
.mainsearch_button:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.mainsearch_button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.hotel_booking-table{
	background: #FFFFFF;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boking-table{
margin-left: -50px;
}